## Decompose the Ask

## Identify the Data Sources

## Data Retrieval

In [1]:
# Import the dependencies (packages required to run this notebook).
# Import pandas to read the CSV file and create locations and measurements from the DataFrame
import pandas as pd

# Import gmaps and the API key to create heatmaps and the locations map
import gmaps

from config import g_key

# Import requests dependency to make a request to the Google Places JSON file
import requests

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-02-19 17:45:05,-23.12,-134.97,78.80,79,5,15.10
1,1,Kisangani,CD,2020-02-19 17:45:51,0.52,25.20,75.31,84,28,0.27
2,2,Cabo San Lucas,MX,2020-02-19 17:42:48,22.89,-109.91,82.99,56,5,4.70
3,3,Pevek,RU,2020-02-19 17:45:52,69.70,170.31,-21.59,99,100,6.42
4,4,Hvolsvollur,IS,2020-02-19 17:45:52,63.75,-20.22,35.60,80,75,18.34

In [3]:
# Get the data types of each column
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Assemble and Clean

## Analyze for Trends

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

## Acknowledge the Limitations

## Make the Call or Tell the Story

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-02-19 17:45:05,-23.12,-134.97,78.80,79,5,15.10
1,1,Kisangani,CD,2020-02-19 17:45:51,0.52,25.20,75.31,84,28,0.27
2,2,Cabo San Lucas,MX,2020-02-19 17:42:48,22.89,-109.91,82.99,56,5,4.70
5,5,Atuona,PF,2020-02-19 17:45:52,-9.80,-139.03,81.50,79,66,19.30
7,7,Saint-Philippe,RE,2020-02-19 17:45:53,-21.36,55.77,78.80,69,14,16.11
12,12,Saldanha,ZA,2020-02-19 17:45:14,-33.01,17.94,84.20,37,31,9.17
15,15,Celestun,MX,2020-02-19 17:45:54,20.87,-90.40,77.83,85,0,15.68
18,18,Georgetown,MY,2020-02-19 17:45:55,5.41,100.34,80.60,88,20,3.36
23,23,Vaini,TO,2020-02-19 17:45:56,-21.20,-175.20,75.20,78,75,6.93
38,38,Bathsheba,BB,2020-02-19 17:46:00,13.22,-59.52,77.00,88,90,13.87

In [13]:
preferred_cities_df.count()

City_ID       167
City          167
Country       166
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0          Rikitea      PF     78.80 -23.12 -134.97
1        Kisangani      CD     75.31   0.52   25.20
2   Cabo San Lucas      MX     82.99  22.89 -109.91
5           Atuona      PF     81.50  -9.80 -139.03
7   Saint-Philippe      RE     78.80 -21.36   55.77
12        Saldanha      ZA     84.20 -33.01   17.94
15        Celestun      MX     77.83  20.87  -90.40
18      Georgetown      MY     80.60   5.41  100.34
23           Vaini      TO     75.20 -21.20 -175.20
38       Bathsheba      BB     77.00  13.22  -59.52

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.80,-23.12,-134.97,Pension Maro'i
1,Kisangani,CD,75.31,0.52,25.20,Grand Ramela Hotel
2,Cabo San Lucas,MX,82.99,22.89,-109.91,Hotel Tesoro Los Cabos
5,Atuona,PF,81.50,-9.80,-139.03,Villa Enata
7,Saint-Philippe,RE,78.80,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
12,Saldanha,ZA,84.20,-33.01,17.94,Blue Bay Lodge
15,Celestun,MX,77.83,20.87,-90.40,Posada Lilia
18,Georgetown,MY,80.60,5.41,100.34,Cititel Penang
23,Vaini,TO,75.20,-21.20,-175.20,Keleti Beach Resort
38,Bathsheba,BB,77.00,13.22,-59.52,Atlantis Hotel

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    info_box_template = """
    <dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
    </dl>
    """
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))